{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% spaceless %}
        <ul class="sonata-ba-show-one-to-many">
            {% if field_description.hasassociationadmin and field_description.associationadmin.isGranted('EDIT') and field_description.associationadmin.hasRoute('edit') %}
                {% for element in value%}
                    {% if editable is defined %}
                        <li><a href="{{ field_description.associationadmin.generateObjectUrl(field_description.options.route.name, element, field_description.options.route.parameters) }}">{{ element|render_relation_element(field_description) }}</a></li>
                        {% else %}
                        <li>{{ element|render_relation_element(field_description) }}</li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for element in value%}
                    <li>{{ element|render_relation_element(field_description) }}</li>
                    {% endfor %}
                {% endif %}
        </ul>
    {% endspaceless %}
{% endblock %}
