# Cache and logs (Symfony2)
/codekoPasswordManager/app/cache/*
/codekoPasswordManager/app/logs/*
!codekoPasswordManager/app/cache/.gitkeep
!codekoPasswordManager/app/logs/.gitkeep

# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
/codekoPasswordManager/app/config/parameters.yml
/codekoPasswordManager/app/config/parameters.ini

# Managed by Composer
/codekoPasswordManager/app/bootstrap.php.cache
/var/bootstrap.php.cache
/codekoPasswordManager/bin/*
!codekoPasswordManager/bin/console
!codekoPasswordManager/bin/symfony_requirements
/codekoPasswordManager/vendor/

# Assets and user uploads
/codekoPasswordManager/web/bundles/
/codekoPasswordManager/web/uploads/

# PHPUnit
/codekoPasswordManager/app/phpunit.xml
/phpunit.xml

# Composer PHAR
/composer.phar

# Netbeans config
nbproject
