# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value
    # ... other parameters
    security.acl.permission.map.class: Sonata\AdminBundle\Security\Acl\Permission\AdminPermissionMap
    # optionally use a custom MaskBuilder
    #sonata.admin.security.mask.builder.class: Sonata\AdminBundle\Security\Acl\Permission\MaskBuilder
services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
    categorias.pass.servicio:
      class: Application\Sonata\UserBundle\Admin\CategoriaPassAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: Password Manager, label: Categorías }
      arguments: [null, Application\Sonata\UserBundle\Entity\CategoriaPass, ApplicationSonataUserBundle:CategoriaPass]
      
    password.pass.servicio:
      class: Application\Sonata\UserBundle\Admin\PasswordAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: Password Manager, label: Contraseñas }
      arguments: [null, Application\Sonata\UserBundle\Entity\Password, ApplicationSonataUserBundle:Password]
      
#    security.access.password_voter:
#      class:      Application\Sonata\UserBundle\Security\Authorization\Voter\PasswordVoter
#      public:     false
#      tags:
#         - { name: security.voter }

#    security.access.blacklist_voter:
#        class:      Application\Sonata\UserBundle\Security\Authorization\Voter\ListaNegraVoter
#        arguments:  ["@service_container", [127.0.0.1]]
#        public:     false
#        tags:
#                - { name: security.voter }
                
#    security.access.blacklist_voter:
#        class:      Application\Sonata\UserBundle\Security\Authorization\Voter\ListaNegraVoter
#        arguments:  ["@service_container", [192.168.1.9,ips separadas por comas]]
#        public:     false
#        tags:
#                - { name: security.voter } 