
/*-------------PRINCIPAL------------- */

root { 
    display: block;
}

body {
  margin: 0px;
  height: 100%;
  padding-top: 50px;
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top,  #f8f8f8 0%, #c6c6c6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#c6c6c6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f8f8f8 0%,#c6c6c6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f8f8f8 0%,#c6c6c6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f8f8f8 0%,#c6c6c6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f8f8f8 0%,#c6c6c6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */
}

.container {
  height: 100vh;
}

.form-signin {
  box-shadow: 0 0 10px #a6a6a6;
  max-width: 430px;
  padding: 0px 0px 20px 0px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px; 
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.alert-danger {
  margin: auto;
  max-width: 430px;
}

.decoracionCabecera {
  height: 130px;
  border-radius: 8px 8px 0px 0px; 
  -moz-border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  background-color: #5cb85c;
  display: block;
}

#headerLogo {
	position: relative;
	margin-top: -90px;
}

.form-signin-heading {
	text-align: center;
}

.cuerpoFormulario {
  padding: 0px 20px 10px 20px;
}

.nuevoUsuario {
  padding-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul.nav-pills {
  text-align: center;
}

ul.nav-pills li {
  width: 100%;
}

.cuerpoFormulario .form-signin-heading {
  margin-top: 15px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 15px;
}

.form-signin-heading {
  margin-width: auto;
}

.form-signin .checkbox {
  font-weight: normal;
  color: #525252;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  border: 1px solid #5cb85c;
}

.form-signin input[type="text"] {
  background: #eeeeee;
  padding: 15px 15px 15px 15px;
  margin-bottom: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="text"]:hover {
  border: 1px solid #5cb85c;
}

.form-signin input[type="password"] {
  background: #eeeeee;
  padding: 15px 15px 15px 15px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="password"]:hover {
  border: 1px solid #5cb85c;
}

.form-signin input[type="email"] {
  background: #eeeeee;
  padding: 15px 15px 15px 15px;
  margin-bottom: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"]:hover {
  border: 1px solid #5cb85c;
}

.checkbox {
  padding-bottom: 3px;
}

.cuerpoFormulario h3 {
  text-align: center;
  color: #384943;
  margin-top: -5px;
  margin-bottom: 20px;
}

/*-------------ANIMACIÓN------------- */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

/*-------------MOVIL------------- */

@media (max-width: 500px) {
  body {
    padding-top: 10px;
  }
}


