{% if admin.isGranted('CLIPBOARD', object) and admin.hasRoute('edit') %}  
    <td class="sonata-ba-list-field">
        <a style="position:relative" class="btn btn-sm btn-default edit_link"  title="Copiar al portapapeles" >
            <i class="fa fa-clipboard"></i><div id="clipboardStyle">
                <object style="position:relative" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                        width="18px" height="18px" margin="0px">
                    <param name="movie" value="{{ asset('bundles/applicationsonatauser/js/clippy.swf') }}"/>
                    <param name="allowScriptAccess" value="always" />
                    <param name="quality" value="high" />
                    <param name="scale" value="noscale" />
                    <param name="wmode" value="transparent" />
                    <param NAME="FlashVars" value="text={{ object.password|urldecrypt }}">
                    <param name="bgcolor" value="transparent">
                    <embed src="{{ asset('bundles/applicationsonatauser/js/clippy.swf') }}"
                           wmode="transparent"
                           width="200"
                           height="94"
                           name="clippy"
                           quality="high"
                           allowScriptAccess="always"
                           type="application/x-shockwave-flash"
                           pluginspage="http://www.macromedia.com/go/getflashplayer"
                           FlashVars="text={{ object.password|urldecrypt }}"
                           bgcolor="transparent"
                           />
                </object>
            </div></a>
        {% endif %}
