{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% if admin.isGranted('Clone', object) and admin.hasRoute('Clone') %}
    <td class="sonata-ba-list-field">
        <a class="btn btn-sm" href="{#{{ admin.generateObjectUrl('Clone', object) }}#}">clone</a>
    </td>
{% endif %}

