{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.isGranted('CLIPBOARD', object) and admin.hasRoute('edit') %}
    <td><a class="btn btn-sm btn-default edit_link clipboard" title="Copiar al portapapeles" >
            <i class="fa fa-clipboard"></i>
            Copiar al portapapeles
        </a></td>
    <script type="text/javascript" src="{{ asset('bundles/applicationsonatauser/js/jquery.zclip.js') }}"></script>
    <script>

        $(document).ready(function () {
            $('a.clipboard').zclip({
                path: '{{ asset('bundles/applicationsonatauser/js/ZeroClipboard.swf') }}',
                copy: 'weehe'
            });
        });

    </script>
{% endif %}
