{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% spaceless %}
        <main class="container">
            <form class="form-signin bounceIn animated">
                <header class="decoracionCabecera"></header>
                <section class="cuerpoFormulario">
                    <h2 class="form-signin-heading"><img id="headerLogo" src="{{ asset('bundles/applicationsonatauser/images/headerLogo.png') }}"/></h2>    
                    <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
                    <div class="checkbox">               
                    </div>           
                    <div class="nuevoUsuario">
                        <ul class="nav nav-pills">
                            <li><a href="{{ path('login') }}">Volver atrás</a></li>
                        </ul>
                    </div>
                </section>          
            </form>
        </main>
    {% endspaceless %}
{% endblock %}