
/*-------------PRINCIPAL------------- */

#fos_user_registration_form_username{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
    width: 100%;
}

#fos_user_profile_form_username, #fos_user_profile_form_email, #fos_user_profile_form_current_password {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
    width: 100%;
}

#fos_user_change_password_form_current_password, #fos_user_change_password_form_new_first, #fos_user_change_password_form_new_second {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
    width: 100%;
}

#clipboardStyle {
    position:absolute;
    margin: -22px 0px 0px -8px;
    width:25px;
    overflow:hidden;
    height:25px;
    z-index:1000;
    opacity:0;
}

.invisible {
    display: none ! important;
}

root { 
    display: block;
}

.sonata-tree__item.is-active {
    border: 1px solid #4CAE4C;
}

.sonata-tree__item__edit, .sonata-tree__item {
    padding: 8px 0px 8px 5px !important;
}

ul.sonata-tree {
    margin-right: 0px !important;
}

.avatarPrincipal {
    border: 0px !important;
    opacity: 0.9;
}

th, td {
    vertical-align: middle !important;
}

.label-disabled {
    background-color: grey !important;
}


.skin-black .sidebar > .sidebar-menu > li > a:hover, .skin-black .sidebar > .sidebar-menu > li.active > a {
    border-left-color: #4CAE4C !important;
}

body {
    margin: 0px;
    height: 100%;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #c6c6c6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#c6c6c6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#c6c6c6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f8f8 0%,#c6c6c6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#c6c6c6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8f8f8 0%,#c6c6c6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */
}

.container {
    height: 100vh;
    padding-top: 50px;
}

.btn-success {
    color: #FFF !important;
    background-color: #5CB85C !important;
    border-color: #4CAE4C !important;
}

.bg-light-blue, .label-primary, .modal-primary .modal-body {
    background-color: #5CB85C !important;
    border-color: #4CAE4C !important;
}

.logo img {
    display: inline;
    margin-top: -13px;
    padding-bottom: 4px;
    max-height: 120px !important;
    max-width: 170px !important;
    z-index: 10000;
}


.skin-black .main-header > .logo {
    background-color: white !important;
}

.skin-black .main-header > .logo:hover {
    background: none repeat scroll 0% 0% white !important;
}

.form-signin {
    box-shadow: 0 0 10px #a6a6a6;
    max-width: 430px;
    padding: 0px 0px 20px 0px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px; 
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #5cb85c;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #5cb85c !important;
}

.alert-success {
    border:0px !important;
}

.main-header .logo {
    font-size: 17px !important;
    padding-right: 30px !important;
    z-index: 10000;
}

.logo img + span {
    width: 150px !important;
    margin-left: 5px;
}

.box {
    border-top: 3px solid #5CB85C !important;
}

.content-wrapper, .right-side {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #c6c6c6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#c6c6c6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#c6c6c6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f8f8 0%,#c6c6c6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#c6c6c6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8f8f8 0%,#c6c6c6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */
}

.alert-danger {
    margin: auto !important;
    margin-bottom: 10px !important;
}

.decoracionCabecera {
    height: 130px;
    border-radius: 8px 8px 0px 0px; 
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    background-color: #5cb85c;
    display: block;
}

.skin-black .main-header {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

#headerLogo {
    position: relative;
    margin-top: -90px;
}

.form-signin-heading {
    text-align: center;
}

.cuerpoFormulario {
    padding: 0px 20px 10px 20px;
}

.nuevoUsuario {
    padding-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul.nav-pills {
    text-align: center;
}

ul.nav-pills li {
    width: 100%;
}

.cuerpoFormulario .form-signin-heading {
    margin-top: 15px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 15px;
}

.form-signin-heading {
    margin-width: auto;
}

.form-signin .checkbox {
    font-weight: normal;
    color: #525252;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    border: 1px solid #5cb85c;
}

.form-signin input[type="text"] {
    background: #eeeeee;
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    background: #eeeeee;
    padding: 15px 15px 15px 15px;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="text"]:hover, .form-signin input[type="password"]:hover, .form-signin input[type="email"]:hover, .form-signin input[type="text"]:focus, .form-signin input[type="password"]:focus, .form-signin input[type="email"]:focus {
    border: 1px solid #5cb85c !important;
}

.form-signin input[type="email"] {
    background: #eeeeee;
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.checkbox {
    padding-bottom: 3px;
}

.cuerpoFormulario h3 {
    text-align: center;
    color: #384943;
    margin-top: -5px;
    margin-bottom: 20px;
}

/*-------------ANIMACIÓN------------- */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

/*-------------MOVIL------------- */

@media (max-width: 500px) {
    body {
        padding-top: 10px;
    }

    .container {
        padding-top: 0px;
    }
}

root { 
    display: block;
}

body {
    margin: 0px;
    height: 100%;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #c6c6c6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#c6c6c6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#c6c6c6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f8f8 0%,#c6c6c6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#c6c6c6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8f8f8 0%,#c6c6c6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */
}

.container {
    height: 100vh;
}

.form-signin {
    box-shadow: 0 0 10px #a6a6a6;
    max-width: 430px;
    padding: 0px 0px 20px 0px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px; 
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.alert-danger {
    margin: auto;
}

.decoracionCabecera {
    height: 130px;
    border-radius: 8px 8px 0px 0px; 
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    background-color: #5cb85c;
    display: block;
}

#headerLogo {
    position: relative;
    margin-top: -90px;
}

.form-signin-heading {
    text-align: center;
}

.cuerpoFormulario {
    padding: 0px 20px 10px 20px;
}

.nuevoUsuario {
    padding-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul.nav-pills {
    text-align: center;
}

ul.nav-pills li {
    width: 100%;
}

.cuerpoFormulario .form-signin-heading {
    margin-top: 15px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 15px;
}

.form-signin-heading {
    margin-width: auto;
}

.form-signin .checkbox {
    font-weight: normal;
    color: #525252;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}


.form-signin .form-control:focus {
    border: 1px solid #5cb85c;
}

.form-signin input[type="text"] {
    background: #eeeeee;
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="text"]:hover {
    border: 1px solid #5cb85c;
}

.form-signin input[type="password"] {
    background: #eeeeee;
    padding: 15px 15px 15px 15px;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="password"]:hover {
    border: 1px solid #5cb85c;
}

.form-signin input[type="email"] {
    background: #eeeeee;
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="email"]:hover {
    border: 1px solid #5cb85c;
}

.checkbox {
    padding-bottom: 3px;
}

.cuerpoFormulario h3 {
    text-align: center;
    color: #384943;
    margin-top: -5px;
    margin-bottom: 20px;
}

/*-------------REGISTRO------------- */

#fos_user_registration_form div label, .fos_user_resetting_reset div div label {
    display:none;
}

/*-------------ANIMACIÓN------------- */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    30% {
        -webkit-transform: scaleX(1.25) scaleY(0.75);
        transform: scaleX(1.25) scaleY(0.75);
    }

    40% {
        -webkit-transform: scaleX(0.75) scaleY(1.25);
        transform: scaleX(0.75) scaleY(1.25);
    }

    60% {
        -webkit-transform: scaleX(1.15) scaleY(0.85);
        transform: scaleX(1.15) scaleY(0.85);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    30% {
        -webkit-transform: scaleX(1.25) scaleY(0.75);
        -ms-transform: scaleX(1.25) scaleY(0.75);
        transform: scaleX(1.25) scaleY(0.75);
    }

    40% {
        -webkit-transform: scaleX(0.75) scaleY(1.25);
        -ms-transform: scaleX(0.75) scaleY(1.25);
        transform: scaleX(0.75) scaleY(1.25);
    }

    60% {
        -webkit-transform: scaleX(1.15) scaleY(0.85);
        -ms-transform: scaleX(1.15) scaleY(0.85);
        transform: scaleX(1.15) scaleY(0.85);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

/*-------------MOVIL------------- */

@media (max-width: 500px) {
    body {
        padding-top: 10px;
    }
}

